{% extends '../base.html' %}
{% load static %}


{% block content %}

<section class="news">
    <div class="container">
        <h1 class="primary-title">News</h1>
        <div class="news-row">
            <div class="news-card">
                <div class="news-img">
                    <img src="{% static './images/cat-2083492_640.jpg' %}" alt="cat">
                </div>
                <h3 class="news-title">cat</h3>
                <h3 class="news-date">06.01.2024</h3>
                <a href="#" class="button-primary">Read</a>
            </div>
            <div class="news-card">
                <div class="news-img">
                    <img src="{% static './images/cat4.jpg' %}" alt="cat">
                </div>
                <h3 class="news-title">cat</h3>
                <h3 class="news-date">06.01.2024</h3>
                <a href="#" class="button-primary">Read</a>
            </div>
            <div class="news-card">
                <div class="news-img">
                    <img src="{% static './images/cat1.jpg' %}" alt="cat">
                </div>
                <h3 class="news-title">cat</h3>
                <h3 class="news-date">06.01.2024</h3>
                <a href="#" class="button-primary">Read</a>
            </div>
            <div class="news-card">
                <div class="news-img">
                    <img src="{% static './images/cat2.jpg' %}" alt="cat">
                </div>
                <h3 class="news-title">cat</h3>
                <h3 class="news-date">06.01.2024</h3>
                <a href="#" class="button-primary">Read</a>
            </div>
            <div class="news-card">
                <div class="news-img">
                    <img src="{% static './images/cat3.jpg' %}" alt="cat">
                </div>
                <h3 class="news-title">cat</h3>
                <h3 class="news-date">06.01.2024</h3>
                <a href="#" class="button-primary">Read</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}