{% extends '../base.html' %}
{% load static %}


{% block content %}
<div class="news-detail">
    <div class="container">
        <a href="#" class="button-primary">Back</a>
        <h1 class="primary-title">Test</h1>
        <div class="news-detail-img">
            <img src="./image/catcat" alt="test">
        </div>
        <p class="news-detail-description">The cat (Felis catus), commonly referred to as the domestic cat or house cat, is the only domesticated species in the family Felidae. Recent advances in archaeology and genetics have shown that the domestication of the cat occurred in the Near East around 7500 BC. It is commonly kept as a house pet and farm cat, but also ranges freely as a feral cat avoiding human contact. It is valued by humans for companionship and its ability to kill vermin.</p>
        <p class="news-detail-date">16.02.2024</p>
    </div>
</div>
{% endblock %}